.container{
    width: 100%;
    margin: 4rem auto;
    max-width: 40rem;
}

.search-icon{
    position: absolute;
   top:120px;
   font-size: 23px;
   color:#D3D3D3;
   right: 550px;

}
.container input{
    width: 30rem;
    padding: 6px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    margin-left: 20rem;
    
}

.link{
    text-decoration: none;
    color: inherit;
}
.dropdown{
    width: 9rem;
   margin-left: 100px;
}